$primary-color: #000;
$secondary-color: #fff;
$comment-color: #d0d2d9;
$plus-color: #6d8fc2;
$menu-active-color: #1964d6;
$background-color: #f5f7f9;
$management-color: #2764bf;
$management-bg-color: #ecf3fc;
$sales-color: #eac175;
$sales-bg-color: #fcf3e0;
$operations-color: #e36365;
$operations-bg-color: #fef1f0;
$marketing-color: #7559ce;
$marketing-bg-color: #f3f0fc;
$human-resources-color: #dfa264;
$human-resources-bg-color: #fff6ec;
$finance-color: #6eb564;
$finance-bg-color: #f0fcee;
$customer-service-color: #9a4ed3;
$customer-service-bg-color: #f8f1ff;
